@import './switch.css';
@import './sidebar.css';

.light {
  --textColor: #333333;
  --bgColor: #ffffff;
}

.dark {
  --textColor: #ffffff;
  --bgColor: #333333;
}

.sepia {
  --textColor: #543200;
  --bgColor: #fff4dc;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 1rem 2rem 2rem;
  transition: background-color ease-in 400ms;
}

body {
  color: var(--textColor);
  background-color: var(--bgColor);
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

header {
  margin-bottom: 2rem;
  text-align: center;
}

header a {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--textColor);
}

header h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

header h2 {
  line-height: 1.5rem;
}

header h3 {
  font-size: 1em;
  font-weight: 300;
  line-height: 2rem;
}

.posts {
  text-align: left;
  max-width: 400px;
  margin: auto;
}

.posts a {
  text-decoration: none;
}

.posts li img {
  object-fit: cover;
}

.posts li p {
  font-size: 14px;
  line-height: 24px;
  color: var(--textColor);
}

.posts li h3 {
  font-size: 12px;
  color: var(--textColor);
}

.posts h2 {
  font-size: 20px;
  color: var(--textColor);
  margin-bottom: 6px;
}

.posts li {
  padding: 15px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 1px dotted #aaaaaa;
  /* animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--post-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; */
}

.posts li:hover {
  border-style: solid;
}

.posts h6 {
  font-size: 0.9rem;
}

article {
  max-width: 800px;
  margin: auto;
  font-family: 'Alegreya', Tahoma, serif;
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-delay: calc(var(--post-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

article p {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 1rem;
}

article blockquote {
  line-height: 1.5rem;
}

article blockquote:before, article blockquote:after {
  content: "\"";
  font-size: 1.5rem;
  margin: 0 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

article .hero {
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
}

article .attrib {
  font-size: 12px;
  margin-bottom: 16px;
  text-align: right;
}

article a {
  color: var(--textColor);
}

article blockquote {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}

article ul {
  list-style: disc;
  padding-left: 16px;
}

article li {
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 34px;
}

article em {
  font-style: italic;
}

article h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 32px 0 20px;
  text-decoration: underline dotted var(--textColor) 1px;
  text-underline-offset: 6px;
}

article .svg-image path, article .svg-image rect {
  fill: var(--textColor);
}

article blockquote {
  border-left: 3px solid var(--textColor);
  padding-left: 24px;
  margin: 20px 0;
  font-weight: bold;
}

.settings {
  position: relative;
  display: flex;
  justify-content: end;
  margin: auto;
  top: 0px;
  right: 0px; 
  margin-bottom: 10px;
}

.settings.main {
  max-width: 400px;
}

.settings.post {
  max-width: 800px;
}

/** Progress Bar for Posts */
#progress-bar {
  --progress: 0%;
  position: fixed;
  height: 10px;
  width: var(--progress);
  top: 0;
  left: 0;
  background-color: #77777777;
  z-index: 2;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes blurOut {
  0% {
    filter: blur(20px);
  }

  50% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

.blurry-load {
  filter: blur(8px);
}

.blur-out {
  animation: blurOut 100ms ease-out;
}