@import './switch.css';
@import './sidebar.css';

.light {
  --textColor: #333333;
  --bgColor: #ffffff;
}

.dark {
  --textColor: #ffffff;
  --bgColor: #333333;
}

.sepia {
  --textColor: #543200;
  --bgColor: #fff4dc;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 2rem;
  transition: background-color 300ms;
}

body {
  color: var(--textColor);
  background-color: var(--bgColor);
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

header {
  margin-bottom: 3rem;
  text-align: center;
}

header a {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--textColor);
}

header h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}

header h3 {
  font-size: 1em;
  font-weight: 300;
  line-height: 2rem;
}

.posts {
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.posts li h3 {
  font-size: 80%;
}

.posts a {
  color: var(--textColor);
}

.posts li {
  padding: 15px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.posts h6 {
  font-size: 0.9rem;
}

article {
  max-width: 800px;
  margin: auto;
}

article p {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

article blockquote {
  line-height: 1.5rem;
}

article blockquote:before, article blockquote:after {
  content: "\"";
  font-size: 1.5rem;
  margin: 0 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

article .hero {
  width: 100%;
  margin-bottom: 1rem;
}

article a {
  color: var(--textColor);
}