.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
  opacity: 0.8;
  --light-slider-bg: #abd9ff8f;
  --dark-slider-bg: #5f6f94;
  --sun: #ffd8a9;
  --moon: #f2f2f2;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-slider-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--sun);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0 transparent, 0 0 2px 1px var(--sun);
}

input:checked + .slider {
  background-color: var(--dark-slider-bg);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px) rotate(-45deg);
  -ms-transform: translateX(26px) rotate(-45deg);
  transform: translateX(26px) rotate(-45deg);
  background-color: transparent;
  box-shadow: inset 6px 0px 0 0.9px var(--moon);
}