.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  color: transparent;
  --light-slider-bg: #ccc;
  --dark-slider-bg: #555;
  --sun: #CCCCCC;
  --moon: #404040;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--sun);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0 transparent;
}

.slider:after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 0px;
  background: repeating-conic-gradient(
    from 0deg at 50% 50%,
    transparent 0deg 20deg,
    #CCC 30deg 30deg
  );
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0 transparent;
  z-index: -1;
}

input:checked + .slider:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: transparent;
  box-shadow: inset 6px 0px 0 0.9px var(--moon);
}

input:checked + .slider:after {
  background: none;
}