<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Unfiltered ramblings as a means to keep writing">
  <meta name="theme-color" content="#333333"/>
  <link rel="apple-touch-icon" href="./images/logo180.png">
  <link href="./css/reset.css" rel="stylesheet"/>
  <link href="./css/styles.css" rel="stylesheet"/>
  <link rel="manifest" href="manifest.json">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
      <link
          href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap"
          rel="stylesheet"
          type="text/css"
      />
  </noscript>
  <title>Too lazy to title</title>
</head>
<body>
  <div class="settings main">
    <label class="switch">
      theme
      <input type="checkbox" id="theme" />
      <span class="slider"></span>
    </label>
  </div>
  <header>
    <h1>Too lazy to title</h1>
    <h2>Unfiltered ramblings as a means to keep writing</h2>
  </header>
  <ul class="posts"></ul>
  <script src="./js/script.js"></script>
</body>
</html>