<!-- 17th May 2020 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- SOCIAL META TAGS -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="https://ajaymenon0.github.io/blog/">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="{{description}}">
  <meta property="og:image" content="https://ajaymenon0.github.io/blog/{{imagepath}}">
  <meta name="twitter:image:alt" content="{{title}}">
  <meta name="twitter:site" content="@ajaymenon0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <link href="../css/reset.css" rel="stylesheet"/>
  <link href="../css/styles.css" rel="stylesheet"/>
  <title>{{title}}</title>
</head>
<body>
  <div class="sidebar hidden" id="sidebar">
    <button id="settings">
      <span>⚙</span>
    </button>
    <label for="theme" class="switch">
      Theme
      <input type="checkbox" checked id="theme">
      <span class="slider round"></span>
    </label>
  </div>
  <header>
    <a href="../">Too lazy to title</a>
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
  </header>
  <script src="../js/script.js"></script>
</body>
</html>