<!-- 17th May 2020 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- SOCIAL META TAGS -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="https://ajaymenon0.github.io/blog/{{path}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="{{description}}">
  <meta property="og:image" content="https://ajaymenon0.github.io/blog/{{imagepath}}">
  <meta name="twitter:image:alt" content="{{title}}">
  <meta name="twitter:site" content="@ajaymenon0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <meta name="theme-color" content="#333333"/>
  <link href="../css/reset.css" rel="stylesheet"/>
  <link href="../css/styles.css" rel="stylesheet"/>
  <link rel="apple-touch-icon" href="./images/logo180.png">
  <link rel="manifest" href="manifest.json">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
  <div id="progress-bar"></div>
  <div class="settings post">
    <label class="switch">
      <input type="checkbox" id="theme" />
      <span class="slider"></span>
    </label>
  </div>
  </div>
  <header>
    <a href="../">Too lazy to title</a>
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
  </header>
  <script src="../js/script.js"></script>
</body>
</html>